<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario</h1>
    <form id="formulario">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="fecha">Fecha:</label>
        <input type="datetime-local" id="fecha" name="fecha" required>

        <label for="frecuencia">Frecuencia:</label>
        <input type="text" id="frecuencia" name="frecuencia" required>
        
        <button type="submit">Enviar</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Agregar cualquier script adicional aquí si es necesario
        
        $(document).ready(function() {
            $('#formulario').submit(function(event) {
                event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada
                
                var name = $('#name').val();
                var fecha = $('#fecha').val();
                var frecuencia = $('#frecuencia').val();
                
                // Realizar una solicitud AJAX al servidor para guardar los datos
                $.ajax({
                    url: '/guardar_recordatorio',
                    type: 'POST',
                    data: {
                        name: name,
                        fecha: fecha,
                        frecuencia: frecuencia
                    },
                    success: function(response) {
                        //console.log(response); // La respuesta del servidor
                        window.location.href = '/chat';
                        // Realizar cualquier otra acción necesaria después de guardar los datos
                    }
                });
            });
        });
    </script>
</body>
</html>