<!DOCTYPE html>
<html>
<head>
    <title>Identificación de Usuario</title>
    <link rel="stylesheet" type="text/css" href="static/indice_style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Iniciar sesión</h2>
          
            <form action="/login" method="POST">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <input type="submit" value="Iniciar sesión">
            </form>

            {% if error_message_i %}
            <p class="error-message_i">{{ error_message_i }}</p>
            {% endif %}
            
        </div>

        <div class="form-container">
            <h2>Crear cuenta</h2>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <form action="/create" method="POST">
                <label for="username_new">Nombre de usuario:</label>
                <input type="text" id="username_new" name="username_new" required>
                <br>
                <label for="password_new">Contraseña:</label>
                <input type="password" id="password_new" name="password_new" required>
                <br>
                <input type="submit" value="Crear cuenta">
            </form>
        </div>
    </div>
</body>
</html>
